extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        
        h1 Isaac Curry

        
        p Full Stack JavaScript Developer


        .about-bio

          
          p Isaac is a diligent individual who passionate in web development. 


      .skills-contact-box.box
        h6 Skills

        
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        
        ul
          li 616-402-3638
          li isaacacurry333@gmail.com

       
        a.btn-link(href='') LinkedIn
        a.btn-link(href='https://github.com/IsaacCurry03') GitHub
        

    nav.nav
      a(href='/')
        span &larr;
        |  Back
